@media (max-width: 1175px) {
    .conainer {
        width: 5%;
        margin-left: 0;
    }
    .header-top {
        display: flex;
        justify-content: center;
        /* background-color: aqua; */
    }
    .logo {
        display: flex;
        justify-content: space-between;
        /* background-color: blue; */
    }
    .main-nav {
        display: none;
    }
    .hero {
        display: flex;
        /* flex-direction: column; */
        flex-direction: column-reverse;
        /* justify-content: center; */
        /* transform: translate(50% 50%); */
    }
    .section1 .footer {
        display: flex;
        flex-direction: column;
    }
    .section2 {
        display: flex;
        flex-direction: column-reverse;
    }
    .left {
        margin-top: 25px;
    }
    .partners_logo {
        display: flex;
        flex-direction: column;
    }

    /* burger */
    .burger {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        height: 2.5em;
        width: 2.5em;
        cursor: pointer;
    }
    .bar-top,
    .bar-middle,
    .bar-bottom {
        height: 5px;
        background: #fff;
        border-radius: 5px;
        margin: 3px 0;
        transform-origin: left;
        transition: all 0.5s;
    }
    .burger:hover .bar-top {
        transform: rotate(45deg);
    }
    .burger:hover .bar-middle {
        transform:translateX(1em);
        opacity: 0;
    }
    .burger:hover .bar-bottom {
        transform: rotate(-45deg);
    }
}
